@import '~antd/dist/antd.css';

.ant-layout{
  background: #ffffff;
}
.content-inside{
    margin: auto;
    width: 50%;
    align-content: center;
}

.list-scrollable {
    
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: 70%;
  }

.containList{
    height: 100%;
  }
  .card{
    margin:auto;
  }